// TODO: "//!"

$radius: 5px;
$shadow: 1px 1px 5px #888;
$text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
$transparent: rgba(0,0,0, .1);

// Colours
$alert-bg:          pink;
$alertError-bg:     #EE3B3B;
$alertInfo-bg:      lightblue;
$alertSuccess-bg:   #90EE90;
$blockquote-border: #444;
$board-bg:          #FF9;
$currentPage-bg:    #FF9;
$errorList-color:   #B94A48;
$errorList-bg:      #F2DEDE;
$errorList-border:  #B94A4B;
$grey-bg:           #F7F7F7;
$grey-border:       #D1D1D1;
$header-bg:         #FF9;
$inputErr-border:   #B94A48;
$locked-bg:         #F5F5C0;
$markdown-bg:       pink;
$navigation-bg:     #98FB98;
$popular-bg:        pink;
$post-bg:           beige;
$postBottom-bg:     pink;
$recent-bg:         #B0E0E6;
$removed-bg:        #F08080;
$stickied-bg:       pink;
$subscribed-bg:     beige;
$subscribed-thread-bg: #FFF7F7;
$tdHover-bg:        #FF9;
$threadsort-bg:     #A9A9A9;
$ththead-color:     #FFB;
$updates-color:     pink;

// Fonts
$alert-font:    Georgia;
$body-font:     "Helvetica Neue", Helvetica, sans-serif;
$board-font:    Georgia;
$button-font:   Georgia;
$caption-font:  "Helvetica Neue", Helvetica, Verdana;
$code-font:     monospace;
$credits-font:  "Helvetica Neue", Helvetica, Verdana;
$header-font:   "Palatino Linotype", Georgia;
$input-font:    Verdana;
$markdown-font: "Palatino Linotype", sans-serif;
$symbol-font:   Georgia;
$table-font:    Verdana;
$th-font:       Georgia;

$base-fontSize:   1em;
$base-lineHeight: 1.5em;

$fontSize:   14px;
$lineHeight: 1.5 * $fontSize; // 21px

$credits-fontSize:  0.75em; // em
$h1-fontSize:       32px;
$h2-fontSize:       24px;
$h3-fontSize:       20px;
$h4-fontSize:       18px;
$h5-fontSize:       16px;
$header-fontSize:   1.5em;  // em
$input-fontSize:    0.9em;  // em
$postDate-fontSize: 0.85em; // em
$pre-fontSize:      11.5px;
$table-fontSize:    11.5px;
$user-fontSize:     0.83em; // em

// These line heights should preferably be computed for vertical rhythm
$credits-lineHeight: 2em;
$header-lineHeight:  2.25em;
$input-lineHeight:   1.35em;
$user-lineHeight:    1.835em;

@mixin box-shadow($shadow) {
    -webkit-appearance: none; /** Fixes box-shadows on iOS */
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}

@mixin box-sizing {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box; /** May not work for IE7- */
            box-sizing: border-box;
}

@mixin border-corner-radius($vert, $hor, $radius:$radius) {
    -webkit-border-#{$vert}-#{$hor}-radius: $radius;
    -moz-border-radius-#{$vert}#{$hor}: $radius;
    border-#{$vert}-#{$hor}-radius: $radius;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
            border-radius: $radius;
}

@mixin getFontSize($size)   {
    font-size: $size/$fontSize * 1em;
    @if $size <= 12 { color: #000; }
}
@mixin getMarginTop($size)  { margin-top: $lineHeight/$size * 1em; }
@mixin getLineHeight($size) { line-height: $lineHeight/$size * 1em; }
@mixin getVerticalRhythm($size) {
    @include getFontSize($size);
    @include getMarginTop($size);
    @include getLineHeight($size);
}

@mixin navigation-icon($url) {
    background: url($url) no-repeat left;
}

html {
/** cf. hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better cf. Gruber */
    height: 100%;
    margin-bottom: 1px;
}

body,
button,
input {
    font: #{$fontSize}/#{$base-lineHeight} $body-font;
}

a {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}

blockquote {
    padding: 0 10px;
    border-left: 1px solid $blockquote-border;
/** 1px left offsets the 1px border above */
    margin: 1em 1px 0;
}

code {
    font-family: $code-font;
    padding: 0 0.25em;
    background-color: $grey-bg;
    border: 1px solid $grey-border;
    @include border-radius($radius);
}

input {
    margin-top: 2px;
    margin-bottom: 2px;
}

pre {
    @include getFontSize($pre-fontSize);
    @include getLineHeight($pre-fontSize);
    font-family: $code-font;
    display: inline-block;
    margin: 1em 1px; /** 1px to offset the border */
    padding: 5px 15px;
    background-color: $grey-bg;
    border: 1px solid $grey-border;
    @include border-radius($radius);
    overflow: auto;

    /** This basically undoes all rules from the <pre> parent */
    code {
        padding: 0;
        background-color: transparent;
        border: 0;
        @include border-radius(0);
    }
}

table {
    margin-bottom: 1em; /** Recalculate */
}

#container {
    width: 960px;
    margin: 1.5em auto;
}

/** Warnings */
#alert,
#configuration-warning {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 0.5em;
    background-color: $alert-bg;
    font-family: $alert-font;
}

#configuration-warning a {
    text-decoration: underline;
}

#alert {
    width: 100%;
    text-align: center;

    &.info    { background-color: $alertInfo-bg; }
    &.success { background-color: $alertSuccess-bg; }
    &.error   { background-color: $alertError-bg; }
}
/* * */

/** All side panels */
#header,
#navigation,
#recent,
#subscribed,
#popular,
#board,
#content table.categories,
#content table.threads {
    @include box-shadow($shadow);
    @include border-radius($radius);
}

#header,
#navigation,
#recent,
#subscribed,
#popular,
#breadcrumbs,
#credits,
#content {
    text-shadow: $text-shadow;
}

#header {
    font: #{$header-fontSize}/#{$header-lineHeight} $header-font;
    width: 450px;
    margin: 15px auto 0;
    clear: both;
    background-color: $header-bg;
    text-align: center;
}

#navigation {
    width: 210px;
    float: left;
    margin: 1.5em 15px;
    background-color: $navigation-bg;

    li {
        padding-left: 10px;

        a {
            display: block;
            padding: 5px 0 5px 35px;

            &[href*="/user/"] {
                @include navigation-icon("/static/glyphish/123-id-card.png");
            }
            &[href$="/saves/"] {
                @include navigation-icon("/static/glyphish/28-star.png");
            }
            &[href$="/reports/"] {
                @include navigation-icon("/static/glyphish/146-gavel.png");
            }
            &[href$="/settings/"] {
                @include navigation-icon("/static/glyphish/20-gear2.png");
            }
            &[href$="/bookmarks/"] {
                @include navigation-icon("/static/glyphish/191-collection.png");
            }
            &[href$="/subscriptions/"] {
                @include navigation-icon("/static/glyphish/44-shoebox.png");
            }
            &[href$="/pm/"] {
                @include navigation-icon("/static/glyphish/18-envelope.png");
            }
            &[href$="/configuration/"] {
                @include navigation-icon("/static/glyphish/158-wrench-2.png");
            }
            &[href="http://pony-forum.com/rules/"],
            &[href$="/rules/"] {
                @include navigation-icon("/static/glyphish/138-scales.png");
            }
            &[href$="pony-forum.com/guide/"],
            &[href$="/guide/"] {
                @include navigation-icon("/static/glyphish/96-book.png");
            }
            &[href$="/search/"] {
                @include navigation-icon("/static/glyphish/06-magnify.png");
            }
            &[href$="/logout/"] {
                @include navigation-icon("/static/glyphish/54-lock.png");
            }
            &[href*="/login/"] {
                @include navigation-icon("/static/glyphish/30-key.png");
            }
            &[href$="/register/"] {
                @include navigation-icon("/static/glyphish/111-user.png");
            }
            &[href*="dyslexia.css"] {
                @include navigation-icon("/static/glyphish/12-eye.png");
            }
        }
    }
}

#navigation li,
#threadbar li {
    list-style: none;
}

#subscribed,
#recent {
    margin-bottom: 1em; /** Recalculate */
}

#subscribed {
    background-color: $subscribed-bg;
}

#popular {
    background-color: $popular-bg;
}
/* * */

/****         *****
***** BUTTONS *****
*****         ****/
#board .pagination, /** Stands out by including #board */
#thread-buttons-top,
#thread-buttons-bottom,
#thread-mod-buttons-top,
#thread-mod-buttons-bottom {
    @include border-radius(0);
    border: none;
}

.pagination,
#thread-buttons-top,
#thread-buttons-bottom,
#thread-mod-buttons-top,
#thread-mod-buttons-bottom,
#content a.button,
input[type="submit"] {
    font: small-caps #{$base-fontSize}/#{$base-lineHeight} $button-font;
    margin: 1.5em 0;
    text-align: center;
    clear: both;
}


.pagination,
#thread-buttons-top,
#thread-buttons-bottom,
#thread-mod-buttons-top,
#thread-mod-buttons-bottom {
    li {
    /** padding: 0 0.5em; */
        border: 1px solid $grey-border;
        background-color: $grey-bg;
        display: inline-block;

        &:hover {
            background-color: $transparent;
        }

        &:first-child {
            @include border-corner-radius(top, left);
            @include border-corner-radius(bottom, left);

            a {
                padding-left: 0.75em;
            }
        }

        &:last-child {
            @include border-corner-radius(top, right);
            @include border-corner-radius(bottom, right);

            a {
                padding-right: 0.75em;
            }
        }
    }

    a {
        display: block;
        padding: 0 0.5em;
    }
}

#content a.button,
input[type="submit"] {
    border: 1px solid $grey-border;
    background-color: $grey-bg;
    display: block;
    padding: 0 0.5em;
    @include border-radius($radius);

    &:hover {
        background-color: $transparent;
    }
}

.pagination .current_page {
    background-color: $currentPage-bg;
}

#content-body .pagination a {
    text-decoration: none;
}

#content-body input[type="submit"] {
    margin-top: 0;
}
/**** * ****/

.screenreader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/****          *****
***** ACCOUNTS *****
*****          ****/
#left-aligned-buttom-group {
    text-align: left;
}

.user-list {
    display: block;
    width: 90%;
    margin: 1em auto 0 auto;

    li {
        list-style: none;
        margin-top: 1em
    }
}

#account-form,
#search-form {
    text-align: center;

    label {
        display: none;
    }
}

input[type="email"],
input[type="text"],
input[type="password"],
#search-form input[type="search"] {
    padding-left: 35px;  /** Revise */
    min-width: 60%;
    max-width: 95%;
}

#account-form {
    #login-helpers {
        margin: 1.5em auto;
    }

    input[name="username"] {
        @include navigation-icon("/static/glyphish/111-user.png");
        background-size: 1.5em;
        background-position: 5px 50%;
    }

    input[type="email"] {
        @include navigation-icon("/static/glyphish/18-envelope.png");
        background-size: 1.5em;
        background-position: 5px 50%;
    }

    input[type="password"] {
        @include navigation-icon("/static/glyphish/54-lock.png");
        background-size: 1.25em;
        background-position: 7px 50%;
    }
}

#search-form input[type="search"] {
    @include navigation-icon("/static/glyphish/06-magnify.png");
    background-size: 1.25em;
    background-position: 7px 50%;
}

form p.checkbox { }
form p.checkbox label {
    width: 90%;
}

ul.errorlist li {
    list-style: none;
    display: block;
    padding: 0 0.25em;
    margin-bottom: 3px;
    color: $errorList-color;
    background-color: $errorList-bg;
    border: 1px solid $errorList-border;
}

#content-body {
    input {
        border: 1px solid $grey-border;
        box-shadow: none;

        &.input-error {
            border: 1px solid $inputErr-border;
        }
    }

    label {
        width: 33%;
    }
}

legend {
    display: none;
}
/**** * ****/

/****         *****
***** PROFILE *****
*****         ****/
#profile-information .info {
    font-weight: bold;
    float: left;
    width: 5em;
}

#latest-posts {
    float: left;
    clear: both;
    margin-top: 3em;
}

#content-body a {
    text-decoration: underline;
}

#content-body a.button {
    text-decoration: none;
}

#profile-information { float: left;  width: 60%; }
#profile-interaction { float: right; width: 40%; }

#profile-interaction p + p {
    margin-top: 1.5em;
}
/**** * ****/

/****          *****
***** REPORTS *****
*****          ****/
.report th {
    text-align: left;
}
/**** * ****/

/****                        *****
***** SUBS, SAVES, BOOKMARKS *****
*****                        ****/
.unread, .removal {
    text-align: center;
}

#content-body .remove {
    @include border-radius($radius);

    &:hover {
        background-color: rgba(0,0,0, .1);
    }
}

#content-body {
    .unsubscribe,
    .count,
    .remove {
        padding: 0.25em 0.75em;
        background-color: #FFF;
        border: 1px solid $grey-border;
        text-decoration: none;
    }

    .unsubscribe {
        @include border-corner-radius(top, left);
        @include border-corner-radius(bottom, left);
    }

    .count {
        @include border-corner-radius(top, right);
        @include border-corner-radius(bottom, right);
    }
}
/**** * ****/

/****          *****
***** THREADS *****
*****          ****/
#content {
    width: 450px;
    margin: 1.5em 15px;
    float: left;

    table {
        &.categories,
        &.threads {
            width: 100%;
        }

        &.hide {
            font: 0.6em/1.2em $symbol-font; //!
        }
    }

    a.button {
        display: inline; /** Fixes the width: 100% button problem. Revise */
        padding: 5px;
    }
}

#content .categories thead,
#content .threads thead,
#content .categories th,
#content .threads th,
#threadbar th {
    background-color: $ththead-color;
    font-weight: bold;
    text-align: left;
}

#content .threads {
    .locked {
        background-color: $locked-bg;
    }

    .removed {
        background-color: $removed-bg;
    }

    .stickied {
        background-color: $stickied-bg;
    }

    .subscribed {
        background-color: $subscribed-thread-bg;
    }
}

#content .categories tr:hover,
#content .threads tr:hover,
#threadbar li:hover,
#navigation li:hover {
    background-color: $transparent;
}
/**** * ****/

/****            *****
***** HOME.html  *****
*****            ****/
#threadbar {
    width: 210px;
    float: right;
    margin: 1.5em 15px;

    li a {
        position: relative;
        display: block;
        padding: 5px 3em 5px 10px;
    /** margin: 0.5em 0 0.5em 0; */
    }
}

.threadsort {
    background-color: $threadsort-bg;
    font-weight: bold;
    display: block;
    padding: 5px 0;
    text-align: center;
    @include border-corner-radius(top, left);
    @include border-corner-radius(top, right);
}

#recent {
    background-color: $recent-bg;
}

td,
th {
    padding: 5px;
}

.updates {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $updates-color;
}

/**
table, td, tr {
    border-collapse: separate; Allows rounded corners. cf. http://vamin.net/examples/rounded_tables.html, http://vamin.net/examples/rounded_tables2.html, http://stackoverflow.com/questions/628301/css3s-border-radius-property-and-border-collapsecollapse-dont-mix-how-can-i-u#635863
}
*/

/**
span#error {
    font-family: Vollkorn, 'Palatino Linotype', Georgia;
    font-size: 4em;
}
*/
/**** * ****/

/****                        *****
***** THREAD & POST template *****
*****                        ****/
#board {
    background-color: $board-bg;
    width: 680px;
    float: left;
    margin: 1.5em 15px;
}

#board .words,
#example {
    h1 {
        @include getVerticalRhythm($h1-fontSize);
        margin-bottom: 0;
    }

    h2 {
        @include getVerticalRhythm($h2-fontSize);
        margin-bottom: 0;
        font-variant: small-caps;
    }

    h3 {
        @include getVerticalRhythm($h3-fontSize);
        margin-bottom: 0;
        font-variant: small-caps;
        font-weight: bold;
    }

    h4 {
        @include getVerticalRhythm($h4-fontSize);
        margin-bottom: 0;
        font-style: italic;
    }

    h5 {
        @include getVerticalRhythm($h5-fontSize);
        margin-bottom: 0;
        text-transform: uppercase;
    }

    img {
        margin: 1em auto;
        border: 1px solid $grey-border;
        display: block;
    }
}

#board .words table,
#content-body table {
    @include getFontSize($table-fontSize);
    @include getLineHeight($table-fontSize);
    font-family: $table-font;
    margin: 0 auto 1em; /** 1px to offset the border */
    background-color: $grey-bg;
    border: 1px solid $grey-border;
    @include border-radius($radius);

    caption {
        caption-side: top;
        text-align: center;
        font: small-caps 1.25em $caption-font; //!

    }

    th {
        font: bold small-caps 1.25em $th-font; //!
        background-color: #FFF;
    }

    td,
    th {
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #FFF;
    }

    tr:hover {
        background-color: $transparent;
    }

    td:hover {
        background-color: $tdHover-bg;
    }
}

#breadcrumbs {
    margin-bottom: 1.5em; /** Recalcuate. Depends on button size */
    padding: 10px;
}

.post {
    background-color: $post-bg;
    padding: 0 10px;
    clear: both;
}

.postdate {
    font-size: $postDate-fontSize;
}

.postsinthread,
.permalink,
.anchor {
    float: right;
    margin-left: 1em;
    font-family: $symbol-font;
}

/**
.avatar {
    @include border-radius(3px);
    border: 2px solid orange;
    width: 100px; height: auto;
}
*/

.username {
    font-weight: bold;
}

.user,
.op {
    float: left;
    width: 150px; /** Recalculate */
    font-size: $user-fontSize;
    line-height: $user-lineHeight;
}

.op .username {
    color: blue;
    text-shadow: $text-shadow;
}

.body a,
#preview a,
#example a,
#markdown a {
    text-decoration: underline;
}

.body p:first-child {
    margin-top: 0;
}

.words {
    float: right;
    width: 500px; /** Recalculate */
}

.words p,
#example p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#example {
    padding: 0 5px;
    @include box-sizing;
}

.post-top {
    clear: both;
    background-color: orange;
}

.post-bottom {
    clear: both;
    background-color: $postBottom-bg;

    .right-buttons a.button {
        float: right;
        margin-left: 10px;
    }

    .left-buttons a.button {
        float: left;
        margin-right: 10px;
    }

    .left-buttons,
    .agreeers,
    .thankers {
        margin-left: 160px; /** Recalculate */
    }
}

.agreeers,
.thankers {
    display: none; /** Shown on-click by jQuery */
    clear: both;
    margin-top: 1em; /** Does not work */

    li {
        list-style: none;
    }
}

.body,
#example {
    font-family: $board-font;
}

#example table {
    font: 0.9em/1.35em $table-font; //!
    border: 1px solid black;
    width: 90%;
    margin: 0 auto 1.5em; /** Recalculate */
}

#board input[type="submit"] + input[type="submit"] {
    margin-left: 3em;
}

div#button-group {
    text-align: center;
    margin: 1em auto; /** Revise */

    a.button,
    input[type="submit"] {
        padding: 5px 10px;
        margin: 0 1em;
        display: inline-block;
    }
}

/** Check that CSS doesn't break this in other browsers
nor with different rules */
.spoiler {
    background-color: black;
    color: black;

    &:hover {
        color: grey;
    }
}
/**** * ****/

/****                      *****
***** CREATE, REPLY & EDIT *****
*****                      ****/
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
textarea,
#title-form,
#id-form {
    border: none;
    @include border-radius($radius);
    @include box-shadow(inset + $shadow);
    @include box-sizing;
    padding: 5px;
    font-size: $input-fontSize;
    line-height: $input-lineHeight;
}

textarea,
#title-form,
#id-form {
    font-family: $input-font;
}

#id-form {
    width: 35%;
    display: block;
    margin: 1em auto;
    text-align: center;
}

#example {
    background-color: white;
}

#reply {
    margin: 1.5em auto;
}

textarea,
#title-form,
#markdown,
#example {
    width: 90%;
    display: block;
    margin: 0 auto 1.5em;
}

#markdown {
    background-color: $markdown-bg;
    font-family: $markdown-font;
    margin: 0 auto;  /** Pick a better value for 0 */

    blockquote {
        border-left: 2px solid #000;
        padding-left: 5px;
        margin: 0;
    }

    ol,
    ul {
        margin-left: 1.5em;
    }

    pre {
        margin: 0;
    }

    table {
        width: 100%;
    }

    th,
    td {
        border: 1px solid #000;
    }
}
/**** * ****/

/****         *****
***** CREDITS *****
*****         ****/
#credits {
    font-family: $credits-font;
    font-size: $credits-fontSize;
    line-height: $credits-lineHeight;
    width: 450px;
    margin: 1.5em auto; /** Recalculate */
    text-align: center;
    clear: both;

    a {
        text-decoration: underline;
    }

    span {
        white-space: nowrap;
    }
}
/**** * ****/

/****       *****
***** FIXES *****
*****       ****/

/*** Unrounded Corners with Fixes ***/
    #content-body table,
    #board .words table {
        @include border-radius($radius);
    }

    /** Upper left AND right **/
        #navigation .first {
            @include border-corner-radius(top, left);
            @include border-corner-radius(top, right);
        }

    /** Bottom left AND right **/
        #threadbar li:last-child,
        #navigation .last {
            @include border-corner-radius(bottom, left);
            @include border-corner-radius(bottom, right);
        }

    /** Tables */
        /** cf. http://vamin.net/examples/rounded_tables2.html */
            table {
                border-collapse: separate;
            }

            #content-body,
            #board .words,
            #content .categories,
            #content .threads {
                /** Upper left **/
                th:first-child {
                    @include border-corner-radius(top, left);
                }

                /** Upper right **/
                th:last-child {
                    @include border-corner-radius(top, right);
                }

                /** Lower left **/
                tr:last-child td:first-child {
                    @include border-corner-radius(bottom, left);
                }

                /** Lower right **/
                tr:last-child td:last-child {
                    @include border-corner-radius(bottom, right);
                }
            }
/**** * ****/

/****               *****
***** MEDIA QUERIES *****
*****               ****/

/** iPhone */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 12px;
        line-height: 1.5em;
    }

    #container {
        width: 100%;
    }

    /** Navigation bar */
        #navigation {
            background: none;
            @include border-radius(0);
            box-shadow: none;
            text-align: center;

            li {
                display: inline-block;
                padding: 0;

                a {
                    border: 1px solid #ccc;
                    padding: 10px 18px;
                    height: 15px;
                    width: 25px;

                    /** Align icons to the middle instead of left */
                    &[href] {
                        background-position: center;
                    }
                }
            }

            /** Hide text */
            span {
                display: none;
            }
        }
        /* * */
        /* * */
    /* * */

    /** Adapt to mobile viewport */
    #board,
    #content,
    #credits,
    #header,
    #navigation {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: both;
    }

    #content,
    #credits,
    #navigation {
        width: 100%;
    }

    #content table.categories,
    #content table.threads,
    #credits hr,
    #content-body,
    #board,
    #header {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    /* * */

    /** Hide threadbar */
    #threadbar {
        display: none;
    }
    /** END */

    /**
        #board: 680px
            .post:  660px
                .user:  150px (22.72...%)
                .words: 500px (75.75...%)
    */
    .user,
    .op {
        width: 23%;
    }

    .words {
        width: 76%;
    }

    .post-bottom {
        .left-buttons a.button + a.button {
            margin-right: 10px;
        }

        .left-buttons,
        .agreeers,
        .thankers {
            margin-left: 24%;  /** 100% - .words width */
        }
    }
}
/**** * ****/
