### Pony-Forum
Django==1.4

# Admin documentation
docutils

# Title and post formatting
elementtree==1.2.7-20070827-preview
smartypants==1.6.0.3
markdown==2.1.1
bleach==1.1.1

# User models and registration
# PIL==1.1.7
django-registration
django-twostepauth

django-secure

# Debugging
django-debug-toolbar