### Pony-Forum
Django==1.4

# Admin documentation
docutils==0.8.1

# Title and post formatting
elementtree==1.2.7-20070827-preview
smartypants==1.6.0.3
markdown==2.1.1
bleach==1.1.1

# User models and registration
# PIL==1.1.7
django-registration==0.7
django-twostepauth==0.1dev

django-secure==0.1.1

# Debugging
django-debug-toolbar==0.9.1
