{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<div id="content">
    <p><a href="/user/{{ user.id }}/">View profile</a> |
    <a href="/accounts/{{ user.username }}/edit/">Edit profile</a> |
    <a href="/accounts/{{ user.username }}/password/">Change password</a> |
    <a href="/accounts/{{ user.username }}/email/">Change e-mail</a></p>

    <form action="" method="post">
    {% csrf_token %}
        <fieldset>
            <legend>{% trans "Change email address" %}</legend>
            {{ form.as_p }}
        </fieldset>
        <input type="submit" value="{% trans "Change email" %}" />
    </form>
</div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}