{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Log-In" %}{% endblock %}

{% block content %}
<div id="content">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Log-In" %}</legend>
            {{ form.non_field_errors }}
    {% for field in form %}
            {{ field.errors }}
        {% if field.name == 'remember_me' %}
            <p class="checkbox">
            <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
            </p>
        {% else %}
            <p>
            {{ field.label_tag }}
            {{ field }}
            </p>
        {% endif %}
    {% endfor %}
        </fieldset>
        
        <input type="submit" value="{% trans "Log in" %}" />
        
        <p class="forgot-password"><a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Click here, if you forgot your password" %}</a></p>

        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
    </form>
</div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}