{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Sign-up almost done" %}{% endblock %}

{% block content_title %}<h2>{% trans "Sign-Up" %}</h2>{% endblock %}

{% block content %}
<div id="content">
	<p>{% trans "You have signed up to the site." %}{% if userena_activation_required %} You aren&rsquo;t there yet, though.{% endif %}</p>

{% if userena_activation_required %}
	<p>{% blocktrans %}An e-mail with an activation link has been sent to the address you provided.{% endblocktrans %}</p>
	<p>{% blocktrans %}Your sign-up information will be stored for {{ userena_activation_days }} days on our server.{% endblocktrans %}</p>
{% else %}
	<p>{% blocktrans %}You can now use the entered credentials to sign in.{% endblocktrans %}</p>
{% endif %}
</div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}