<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}The Forum{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <link rel="canonical" href="{% block canonical_url %}{% endblock %}" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/reset.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/style.css" />
    {% if user.get_profile.has_dyslexia == 'Y' %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/dyslexia.css" />
    {% endif %}
    {% block js %}{% endblock %}
        <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Will not validate. Disregard. Can be done in .htaccess instead. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    </head>
    <body>
        <div id="container">
        {% block configuration-warning %}{% endblock %}
{% block alert %}
    {% if messages %}
        {% for message in messages %}
            <div id="alert"{% if message.tags %} class="{{ message.tags }}"{% endif %} role="region">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
            <div id="header" role="banner"><a href="/" title="Return to home page">Forum</a></div>
            <div id="navigation" role="navigation">
                {% include "includes/navigation.html" %}
            </div>
{# banners #}{# endblock #}
{% block threadbar %}{% endblock %}
{% block content %}{% endblock %}
            <div id="credits" role="complimentary">
{% block credits-border %}{% endblock %}
{% block credits %}
                <span>The forum is powered by <a href="http://pony-forum.com/">Pony Forum</a>, which was made by <a href="http://me.niclasdarville.com/">Niclas Darville</a>.</span> <span>Icons by <a href="http://glyphish.com/">Glyphish</a>.</span> <span>Dyslexia mode by <a href="http://dyslexicfonts.com/">Open-Dyslexic</a>.</span>
{% endblock %}
            </div>
        </div>
    </body>
</html>
