{% extends "base.html" %}

{% block title %}Threads in &ldquo;{{ category.title_html|safe }}&rdquo;{% endblock %}
{% block canonical_url %}{% url forum.views.category category.id %}{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}
{% block content %}
            <div id="content">
                <table class="threads">
                    <!-- IDs improve screenreaders' experience -->
                    <tr>
                        <th id="category-title">{{ category.title_html|safe }}</th>
                        <th id="post-quantity">Posts</th>
                        <th id="latest-post">Latest Post</th>
                        <th id="hide"></th>
                    </tr>
                {% for sticky in stickies %}
                    {% url forum.views.thread sticky.id as sticky_url %}
                    <tr class="sticky">
                        <td><a href="{{ sticky_url }}" title="View the posts in the thread &ldquo;{{ sticky.title_html|safe }}&rdquo;">{{ sticky.title_html|safe }}</a></td>
                        <td><a href="{{ sticky_url }}" title="View the posts in the thread &ldquo;{{ sticky.title_html|safe }}&rdquo;">{{ sticky.post_set.all.count }}</a></td>
                        <td><a href="{{ sticky_url }}" title="View the posts in the thread &ldquo;{{ sticky.title_html|safe }}&rdquo;">{{ sticky.relative_date }}</a></td>
                        <td><a title="Hide categories in the list" href="#">-</a></td>
                    </tr>
                {% endfor %}
                {% for thread in category_threads.object_list %}
                    {% url forum.views.thread thread.id as thread_url %}
                    <tr>
                        <td><a href="{{ thread_url }}" title="View the posts in the thread &ldquo;{{ thread.title_html|safe }}&rdquo;">{{ thread.title_html|safe }}</a></td>
                        <td><a href="{{ thread_url }}" title="View the posts in the thread &ldquo;{{ thread.title_html|safe }}&rdquo;">{{ thread.post_set.all.count }}</a></td>
                        <td><a href="{{ thread_url }}" title="View the posts in the thread &ldquo;{{ thread.title_html|safe }}&rdquo;">{{ thread.relative_date }}</a></td>
                    <!--
                        <td><a title="Hide categories in the list" href="#">-</a></td>
                    -->
                    </tr>
                {% endfor %}
                </table>
                
            {% if category_threads.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="previous-page">
                    {% if category_threads.has_previous %}
                        <a href="?page={{ category_threads.previous_page_number }}" title="Go to the older threads.">Older</a>
                    {% endif %}
                    </span>

                    <span class="current-page">
                        {{ category_threads.number }} &hellip; {{ category_threads.paginator.num_pages }}
                    </span>
                
                    <span class="next-page">
                    {% if category_threads.has_next %}
                        <a href="?page={{ category_threads.next_page_number }}" title="Go to the newer threads.">Newer</a>
                    {% endif %}
                    </span>
                </div>
            {% endif %}

            {% if perms.forum.create_category %}
                <a class="button" href="{% url forum.views.create category.id %}">Create new thread</a>
            {% endif %}
            </div>
{% endblock %}