{% extends "base.html" %}

{% block canonical_url %}{% url forum.views.home %}{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}
{% block content %}
            <div id="content">
                <table class="categories">
                {% for category in categories %}    
                    <tr>
                        <th id="thread-category">Category</th>
                        <th id="category-threads">Threads</th>
                        <th id="posts-in-category">Posts</th>
                        <th id="hide"></th>
                    </tr>
                    <tr>
                    {% url forum.views.category category.id as category_url %}
                        <td><a href="{{ category_url }}" title="See the list of threads in the category &ldquo;{{ category.title_html|safe }}&rdquo;">{{ category.title_html|safe }}</a></td>
                        <td><a href="{{ category_url }}" title="See the list of threads in the category &ldquo;{{ category.title_html|safe }}&rdquo;">{{ category.thread_set.all.count }}</a></td>
                        <td><a href="{{ category_url }}" title="See the list of threads in the category &ldquo;{{ category.title_html|safe }}&rdquo;">{{ category.post_count }}</a></td>
                        <td><a title="Hide categories in the list" href="#">-</a></td>
                    </tr>
                {% empty %}
                    <p>This forum currently does not have any categories&mdash;and the threads and posts to go with them. {% if user.is_staff %}You should get right on that.{% endif %}{% if not user.is_authenticated %}If you have the permissions, you should log in and get started.{% endif %}</p>
                {% endfor %}
                </table>
            {% if perms.forum.add_category %}
                <a class="button" href="{% url forum.views.add %}">Add a new category</a>
            {% endif %}
            </div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}