{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Lock and Unlock{% endblock %}
{% block canonical_url %}{% url forum.views.lock_thread thread.id %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>
                </div>

                <form action="{% url forum.views.lock_thread thread.id %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}
                    
                    <div id="button-group">
                        <input type="submit" name="lock" value="Lock" />
                        <input type="submit" name="unlock" value="Unlock" />
                    </div>
                </form>
            </div>
{% endblock %}
