{% extends "page.html" %}

{% block title %}Manage {{ user_type|capfirst }}{% endblock %}
{% block canonical_url %}{% url forum.views.manage_users user_type object_id %}{% endblock %}
{% block content_body %}
    <form action="{% url forum.views.manage_users user_type object_id %}" method="post" id="search-form">
        {% csrf_token %}
        <label for="search" role="search">Search</label>
        <input
            type="search"
            x-webkit-speech
            name="username-search"
            value=""
            placeholder="Search for user by name"
        />
        <input
            type="number"
            x-webkit-speech
            name="user-id-search"
            value=""
            min="1"
            step="1"
            placeholder="Search by ID"
        />

        {% comment %}
            {% if people %}<p>Matches for usernames with &ldquo;{{ query }}&rdquo;</p>{% endif %}
        {% endcomment %}

        <div id="left-aligned-button-group">
        {% if user_type == "co-editors" %}
        {% with editors=thread.coeditors.all %}
            {% if people %}
                <ul class="user-list">
                    {% for person in people %}
                        <li><a class="button js" role="button" href="" id="{{ person.id }}">Promote</a> {{ person.username }}</li>
                    {% endfor %}
                </ul>
                <hr />
            {% endif %}
        <!-- Current co-editors -->
            {% if editors %}
                <ul class="user-list">
                    {% for person in editors %}
                        <li><a class="button js" role="button" href="" id="{{ person.id }}">Demote</a> {{ person.username }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This thread currently has no co-editors.</p>
            {% endif %}
        {% endwith %}
        {% endif %}
        </div>

        <div id="button-group">
            <input type="submit" value="Search" />
            <input type="hidden" id="thread-id" value="{{ object_id }}" />
        </div>
    </form>
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/manage-users-js.js"></script>
{% endblock %}
