{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Moderate Thread{% endblock %}
{% block canonical_url %}{% url forum.views.moderate_thread thread.id %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>
                </div>

                {% if has_long_title %}
                    Your chosen title was too long. Keep it under characters.
                {% endif %}

                <form action="{% url forum.views.moderate_thread thread.id %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}

                    <input type="text" name="title" id="title-form" value="{{ title }}" placeholder="Use a descriptive title here." required />
                    
                    <div id="button-group">
                        <input type="submit" name="moderate" id="submit" value="Moderate" />
                    </div>
                </form>
            </div>
{% endblock %}
