{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Move Thread{% endblock %}
{% block canonical_url %}{% url forum.views.move_thread thread.id %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>
                </div>

                <form action="{% url forum.views.move_thread thread.id %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}
                    
                {% for category in categories %}
                    <input type="radio" name="category" value="{{ category.id }}" {% if category == thread.category %}checked{% endif %} />{{ category.title_html|safe }}<br />
                {% endfor %}

                <div id="button-group">
                    <input type="submit" name="move" value="Move" />
                </div>
                </form>
            </div>
{% endblock %}
