{% extends "base.html" %}

{% block title %}{{ post.thread.title_html|safe }}: Post #{{ anchor_number }} by {{ post.author }}{% endblock %}
{% block canonical_url %}{% url forum.views.post post.id %}{% endblock %}
{# block js-blocked-warning #}{# include "includes/js-blocked-warning.html" #}{# endblock #}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category post.thread.category.id %}">{{ post.thread.category.title_html }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread post.thread.id %}">{{ post.thread.title_html }}{% if post.thread.is_locked %}&nbsp;(LOCKED){% endif %}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.post post.id %}">{{ post.author }}&rsquo;s Post</a>
                </div>

                {% include "includes/entries.html" %}

            </div>
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/thread-js.js"></script>
{% endblock %}