{% extends "base.html" %}

{% block title %}{{ post.thread.title_html|safe }}: Post by {{ post.author }}{% endblock %}
{% block canonical_url %}{% url forum.views.post post.id %}{% endblock %}
{# block js-blocked-warning #}{# include "includes/js-blocked-warning.html" #}{# endblock #}
{% block content %}
            <div id="board">
                {% with post=post thread=post.thread category=post.thread.category %}
                    {% include "includes/breadcrumbs.html" %}
                {% endwith %}

                {% include "includes/entries.html" %}

            </div>
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/thread-js.js"></script>
{% endblock %}
