{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Reply{% endblock %}
{% block canonical_url %}{% url forum.views.reply thread.id %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>
                </div>

                {% include "includes/preview.html" %}

                <form action="{% url forum.views.reply thread.id %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}
                    <textarea
                        rows="10" name="content" placeholder="Write the content of your post here, use the Markdown formatting explained below, and press &ldquo;Reply&rdquo;." autofocus required>{% if preview_plain %}{{ preview_plain }}{% endif %}</textarea>
                    
                    <input type="submit" name="submit" id="submit" value="Reply" />
                    <input type="submit" name="preview" id="preview" value="Preview" />
                </form>

                {% include "includes/markdown.html" %}
            </div>
{% endblock %}