{% extends "page.html" %}

{% load markup %}
{% block title %}Reports{% endblock %}
{% block canonical_url %}{% url forum.views.reports %}{% endblock %}
{% block content_body %}
            {% for report in reports %}
            {% with post=report.post thread=report.thread %}
            {% if post and request.user != post.author or thread %}
                <div class="report">
                    <div class="report-top">
                        <span class="report-date">Submitted {{ report.relative_date }}</span>
                        <span class="report-link">(<a href="{% if post %}{% url forum.views.post post.id %}{% else %}{% url forum.views.thread thread.id %}{% endif %}">Link</a>)</span>
                    </div>
                    <table>
                        <tr>
                            <th>Type:</th>
                            <td>{% if post %}Post{% else %}Thread{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Thread:</th>
                            <td><a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a></td>
                        </tr>
                        <tr>
                            <th>Category:</th>
                            <td><a href="{% url forum.views.category thread.category_id %}">{{ thread.category.title_html|safe }}</a></td>
                        </tr>
                        <tr>
                            <th>Author:</th>
                            <td>{% if post %}<a href="{% url forum.views.user post.author_id %}">{{ post.author }}</a>{% else %}<a href="{% url forum.views.user thread.author_id %}">{{ thread.author }}</a>{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Submitted by:</th> <td><a href="{% url forum.views.user report.author_id %}">{{ report.author }}</a></td>
                        </tr>
                    </table>

                    <p><strong>Reason:</strong> &ldquo;{{ report.reason_short }}&rdquo;</p>
                {% if report.reason_long %}
                    <p><strong>Elaboration:</strong></p>
                    <blockquote>{{ report.reason_long|markdown:"tables, nl2br, video" }}</blockquote>
                {% endif %}

                <form action="{% url forum.views.reports %}" method="post" id="reply" name="reply-form">

                    {% csrf_token %}
                    <div id="button-group">
                        <input type="submit" name="dismiss"  value="Dismiss" />
                    </div>

                    <input type="hidden" name="report-id" value="{{ report.id }}" />
                </form>
                </div>
            {% endif %}
            {% endwith %}
            {% empty %}
                <p>No reports, good job!</p>
            {% endfor %}
{% endblock %}
