{% extends "page.html" %}

{% block title %}Manage Settings{% endblock %}
{% block canonical_url %}{% url forum.views.settings %}{% endblock %}
{% block content_body %}
    {% with profile=user.get_profile %}
    <form action="{% url forum.views.settings %}" method="post">
        {% csrf_token %}
        <p>
            <label for="has_dyslexia">I have dyslexia</label>
            <select size="1" name="has_dyslexia">
                <option value="U"{% if profile.has_dyslexia == "U" %} selected{% endif %}>Undecided</option>
                <option value="Y"{% if profile.has_dyslexia == "Y" %} selected{% endif %}>Yes</option>
                <option value="N"{% if profile.has_dyslexia == "N" %} selected{% endif %}>No</option>
            </select>
        </p>
        <p>
            <label for="auto_subscribe">Autosubscribe after posting</label>
            <select size="1" name="auto_subscribe">
                <option value="True"{% if profile.auto_subscribe %} selected{% endif %}>Yes</option>
                <option value="False"{% if not profile.auto_subscribe %} selected{% endif %}>No </option>
            </select>
    	</p>
        <div id="button-group">
            <input type="submit" name="submit" id="submit" value="Save Settings" />

            <a class="button" href="{% url auth_password_change %}">Change password</a>
        </div>
    </form>
    {% endwith %}
{% endblock %}
{% block credits-border %}<hr />{% endblock %}
