{% extends "page.html" %}

{% block title %}Manage Settings{% endblock %}
{% block canonical_url %}{% url forum.views.settings %}{% endblock %}

{% block content_body %}
    <p>
    {#  <a class="button" href="/accounts/{{ user.username }}/edit/">Edit profile</a> | #}
    {#  <a class="button" href="/accounts/{{ user.username }}/email/">Change e-mail</a> | #}
    </p>

    <p>
        <label for="has_dyslexia">I have dyslexia:</label>
        <select size="1">
            <option value="U"{% if user.get_profile.has_dyslexia == 'U' %} selected{% endif %}>Undecided</option>
            <option value="Y"{% if user.get_profile.has_dyslexia == 'Y' %} selected{% endif %}>Yes</option>
            <option value="N"{% if user.get_profile.has_dyslexia == 'N' %} selected{% endif %}>No</option>
        </select>
    </p>

	<p>
	   <label for="autosubscribe">Autosubscribe after posting</label>
	   <input type="checkbox" name="autosubscribe">
	</p>

    <div id="button-group">
        <a class="button" href="#" class="js" id="">Save settings</a>
        <a class="button" href="{% url auth_password_change %}">Change password</a>
    </div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}
{% block js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/settings-js.js"></script>
{% endblock %}
