{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: {{ action|capfirst }} {{ type|capfirst }}{% endblock %}
{% block canonical_url %}
    {% if action == "remove" %}
        {% if object_type == "thread" %}{% url remove_thread obj.id %}
        {% else %}{% url remove_post obj.id %}
        {% endif %}
    {% else %}
        {{ absolute_url }}
    {% endif %}
{% endblock %}
{% block content %}
    <div id="board" role="main">
        {% with post=post_obj thread=thread category=thread.category %}
            {% include "includes/breadcrumbs.html" %}
        {% endwith %}

        <form action="
        {% if action == "remove" %}
            {% if object_type == "thread" %}{% url remove_thread obj.id %}
            {% else %}{% url remove_post obj.id %}
            {% endif %}
        {% else %}
            {% url forum.views.nonjs action object_id %}
        {% endif %}
        " method="post">
            {% csrf_token %}

            <div id="button-group">
                <input type="submit" name="{{ action }}" value="{{ action|capfirst }}" />
            {% if action != "remove" %}
                <input type="submit" name="un{{ action }}" value="Un{{ action }}" />
            {% else %} {# action == "remove" #}
                <input type="submit" name="restore" value="Restore" />
            {% endif %}
            </div>
        {% if request %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        </form>
    </div>
{% endblock %}
