{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: {{ action|capfirst }} {{ type|capfirst }}{% endblock %}
{% block canonical_url %}
    {% if action == "sticky" %}{% url forum.views.sticky_thread obj.id %}
    {% elif action == "lock" %}{% url forum.views.lock_thread obj.id %}
    {% elif action == "subscribe" %}{% url forum.views.subscriptions_nonjs obj.id %}
    {% elif action == "bookmark" %}{% url forum.views.bookmarks_nonjs obj.id %}
    {% elif action == "save" %}{% url forum.views.saves_nonjs obj.id %}
    {% else %} {# action == "remove" #}
        {% if object_type == "thread" %}{% url remove_thread obj.id %}
        {% else %}{% url remove_post obj.id %}
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <div id="board" role="main">
        {% with post=post_obj thread=thread category=thread.category %}
            {% include "includes/breadcrumbs.html" %}
        {% endwith %}

        <form action="
        {% if action == "sticky" %}{% url forum.views.sticky_thread obj.id %}
        {% elif action == "lock" %}{% url forum.views.lock_thread obj.id %}
        {% elif action == "subscribe" %}{% url forum.views.subscriptions_nonjs obj.id %}
        {% elif action == "bookmark" %}{% url forum.views.bookmarks_nonjs obj.id %}
        {% elif action == "save" %}{% url forum.views.saves_nonjs obj.id %}
        {% else %} {# action == "remove" #}
            {% if object_type == "thread" %}{% url remove_thread obj.id %}
            {% else %}{% url remove_post obj.id %}
            {% endif %}
        {% endif %}
        " method="post">
            {% csrf_token %}

            <div id="button-group">
                <input type="submit" name="{{ action }}" value="{{ action|capfirst }}" />
            {% if action != "remove" %}
                <input type="submit" name="un{{ action }}" value="Un{{ action }}" />
            {% else %} {# action == "remove" #}
                <input type="submit" name="restore" value="Restore" />
            {% endif %}
            </div>
        {% if request %}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}" />
        {% endif %}
        </form>
    </div>
{% endblock %}
