{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Sticky and Unsticky{% endblock %}
{% block canonical_url %}{% url forum.views.sticky_thread thread.id %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>
                </div>

                <form action="{% url forum.views.sticky_thread thread.id %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}
                    
                    <input type="submit" name="sticky" value="Sticky" />
                    <input type="submit" name="unsticky" value="Unsticky" />
                </form>
            </div>
{% endblock %}
