{% extends "base.html" %}

{% block title %}Your Subscriptions{% endblock %}
{% block canonical_url %}{% url forum.views.subscriptions %}{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}
{% block content %}
            <div id="content">
        {% if has_subs %}
                <table class="subscriptions">
            {% if updated_subs %}
                {% for sub in updated_subs %}
                    <tr>
                        <td><a href="" title="">Title</a></td>
                        <td><a href="" title="">Number of updates</a></td>
                        <td><a title="Hide categories in the list" href="#">Unsubscribe</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            {% if inactive_subs %}
                {% for sub in inactive_subs %}
                    <tr>
                        <td><a href="" title="">Title</a></td>
                        <td><a href="" title="">Number of updates</a></td>
                        <td><a title="Hide categories in the list" href="#">Unsubscribe</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
                </table>
            </div>
{% endblock %}
{% block credits-border %}<hr />{% endblock %}
{% block js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/subscriptions-js.js"></script>
{% endblock %}
