{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}{% if thread.is_locked %}&nbsp;(LOCKED){% endif %}{% endblock %}
{% block canonical_url %}{% url forum.views.thread thread.id %}{% endblock %}
{# block js-blocked-warning #}{# include "includes/js-blocked-warning.html" #}{# endblock #}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}{% if thread.is_locked %}&nbsp;(LOCKED){% endif %}</a>
                </div>
        
        {% with current_page=posts.number %}
        {% with total_pages=posts.paginator.num_pages %}
        {% with page=posts %}
            {% include "includes/pagination.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}

            {% if not thread.is_removed %}
                <ul id="thread-buttons-top">
                    <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.subscriptions.all %}Unsubscribe{% else %}Subscribe{% endif %}</a></li>
                {#  <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.bookmarks.all %}Unbookmark{% else %}Bookmark{% endif %}</a></li> #}
                {% if not thread.is_locked %}
                    <li><a href="{% url report_thread thread.id %}">Report</a></li>
                    <li><a href="{% url forum.views.reply thread.id %}">
                    Reply</a></li>
                {% else %}
                    <li><a href="#">Locked</a></li>
                {% endif %}
                </ul>
            {% endif %}

                <ul id="thread-mod-buttons-top">
            {% if thread.is_removed and perms.forum.remove_thread %}
                    <li><a href="{% url remove_thread thread.id %}">Restore</a></li>
            {% else %}
                {% if perms.forum.lock_thread %}
                    <li><a href="{% url forum.views.lock_thread thread.id %}">{% if thread.is_locked %}Unlock{% else %}Lock{% endif %}</a></li>
                {% endif %}
                {% if perms.forum.change_thread %}
                    <li><a href="{% url forum.views.moderate_thread thread.id %}">Moderate</a></li>
                {% endif %}
                {% if perms.forum.move_thread %}
                    <li><a href="{% url forum.views.move_thread thread.id %}">Move</a></li>
                {% endif %}
                {% if perms.forum.sticky_thread %}
                    <li><a href="{% url forum.views.sticky_thread thread.id %}">{% if thread.is_sticky %}Unsticky{% else %}Sticky{% endif %}</a></li>
                {% endif %}
                {% if perms.forum.merge_thread %}
                    <li><a href="{% url forum.views.merge_thread thread.id %}">Merge</a></li>
                {% endif %}
                {% if perms.forum.remove_thread %}
                    <li><a href="{% url remove_thread thread.id %}">Remove</a></li>
                {% endif %}
            {% endif %}
                <!-- appoint_threadmin -->
                </ul>

            {% for post in posts.object_list %} <!-- exclude is_removed -->
                {% include "includes/entries.html" %}
            {% endfor %}

                <ul id="thread-mod-buttons-bottom">
            {% if thread.is_removed and perms.forum.remove_thread %}
                    <li><a href="{% url remove_thread thread.id %}">Restore</a></li>
            {% else %}
                {% if perms.forum.lock_thread %}
                    <li><a href="{% url forum.views.lock_thread thread.id %}">{% if thread.is_locked %}Unlock{% else %}Lock{% endif %}</a></li>
                {% endif %}
                {% if perms.forum.change_thread %}
                    <li><a href="{% url forum.views.moderate_thread thread.id %}">Moderate</a></li>
                {% endif %}
                {% if perms.forum.move_thread %}
                    <li><a href="{% url forum.views.move_thread thread.id %}">Move</a></li>
                {% endif %}
                {% if perms.forum.sticky_thread %}
                    <li><a href="{% url forum.views.sticky_thread thread.id %}">{% if thread.is_sticky %}Unsticky{% else %}Sticky{% endif %}</a></li>
                {% endif %}
                {% if perms.forum.merge_thread %}
                    <li><a href="{% url forum.views.merge_thread thread.id %}">Merge</a></li>
                {% endif %}
                {% if perms.forum.remove_thread %}
                    <li><a href="{% url remove_thread thread.id %}">Remove</a></li>
                {% endif %}
            {% endif %}
                <!-- appoint_threadmin -->
                </ul>

            {% if not thread.is_removed %}
                <ul id="thread-buttons-bottom">
                    <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.subscriptions.all %}Unsubscribe{% else %}Subscribe{% endif %}</a></li>
                {#  <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.bookmarks.all %}Unbookmark{% else %}Bookmark{% endif %}</a></li> #}
                {% if not thread.is_locked %}
                    <li><a href="{% url report_thread thread.id %}">Report</a></li>
                    <li><a href="{% url forum.views.reply thread.id %}">
                    Reply</a></li>
                {% else %}
                    <li><a href="#">Locked</a></li>
                {% endif %}
                </ul>
            {% endif %}

        {% with current_page=posts.number %}
        {% with total_pages=posts.paginator.num_pages %}
        {% with page=posts %}
            {% include "includes/pagination.html" %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
            </div>
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/thread-js.js"></script>
{% endblock %}