{% extends "page.html" %}

{% block title %}{{ type|capfirst }}s by {{ person.username }}{% endblock %}
{% block canonical_url %}{% if type == "thread" %}{% url user_threads person.id %}{% else %}{% url user_posts person.id %}{% endif %}{% endblock %}
{% block rel_attributes %}
    {% if objects.has_previous %}
        <link rel="prev" href="?page={{ objects.previous_page_number }}" />
    {% endif %}
    {% if objects.has_next %}
        <link rel="next" href="?page={{ objects.next_page_number }}" />
    {% endif %}
{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}

{% block content_body %}
    <dl>
{% if type == "thread" %}
    {% for thread in objects.object_list %}
        <dt>{{ thread.relative_date }}</dt>
            <dd><a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a></dd>
    {% empty %}
        <p>This user has not created any threads yet.</p>
    {% endfor %}
{% else %}
    {% for post in objects.object_list %}
        <dt><a href="{% url forum.views.post post.id %}">{{ post.thread.title_html|safe }}</a></dt>
            <dd>{{ post.content_html|safe }}</dd>
    {% empty %}
        <p>This user has not posted in the forums yet.</p>
    {% endfor %}
{% endif %}
    <dl>

{% with current_page=objects.number total_pages=objects.paginator.num_pages page=objects %}
    {% include "includes/pagination.html" %}
{% endwith %}

{% endblock %}
