{% extends "page.html" %}

{% load humanize %}

{% block title %}User Profile for {{ person.username }}{% endblock %}
{% block canonical_url %}{% url forum.views.user person.id %}/{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}

{% block content_body %}
    <div id="profile-interaction">
{% if person != user %}
    {#  <p><a href="#">Send PM</a></p> #}
    {% if person in user.get_profile.follows.all %}
        <form action="{% url forum.views.user_nonjs %}" method="post">
            {% csrf_token %}

            <input type="submit" class="js" id="{{ person.id }}" value="Unfollow user" />
            <input type="hidden" name="user_id" value="{{ person.id }}" />
            <input type="hidden" name="action" value="unfollow" />
        </form>
    {% else %}
        <form action="{% url forum.views.user_nonjs %}" method="post">
            {% csrf_token %}

            <input type="submit" class="js" id="{{ person.id }}" value="Follow user" />
            <input type="hidden" name="user_id" value="{{ person.id }}" />
            <input type="hidden" name="action" value="follow" />
        </form>
    {% endif %}
    {% if person in user.get_profile.ignores.all %}
        <form action="{% url forum.views.user_nonjs %}" method="post">
            {% csrf_token %}

            <input type="submit" class="js" id="{{ person.id }}" value="Remove user from shit list" />
            <input type="hidden" name="user_id" value="{{ person.id }}" />
            <input type="hidden" name="action" value="remove" />
        </form>
    {% else %}
        <form action="{% url forum.views.user_nonjs %}" method="post">
            {% csrf_token %}

            <input type="submit" class="js" id="{{ person.id }}" value="Add user to shit list" />
            <input type="hidden" name="user_id" value="{{ person.id }}" />
            <input type="hidden" name="action" value="add" />
        </form>
    {% endif %}
{% comment %}
    {% if forum.perms.ban_user %}
        <p>Ban user</p>
    {% endif %}
    {% if forum.perms.probate_user %}
         <p>Probate user</p>
    {% endif %}
{% endcomment %}
{% else %}
{% comment %}
    <p><a href="{% url forum.views.settings %}">Manage your settings</a></p>
{% endcomment %}
{% endif %}
    </div>

{% with profile=person.get_profile %}
{% with post_count=profile.post_count thread_count=profile.thread_count %}
    <div id="profile-information">
        <p><span class="info">Name:</span> {{ person.username }}</p>
        <p><span class="info">Joined:</span> {{ person.date_joined|timesince }} ago</p>
        <p><span class="info">Post{{ post_count|pluralize }}:</span> <a title="View list of replies by {{ person.username }}" href="{% url user_posts person.id %}">{{ post_count|intcomma }}</a></p>
        <p><span class="info">Thread{{ thread_count|pluralize }}:</span> <a title="View list of threads by {{ person.username }}" href="{% url user_threads person.id %}">{{ thread_count|intcomma }}</a></p>
    </div>

    <div id="latest-posts">
    {% if post_count != 0 %}
        <strong>Ten latest posts:</strong>
        <ul>
        {% for post in posts %}
            <li><a href="{% url forum.views.thread post.thread_id %}#{{ post.id }}">{{ post.thread.title_html|safe }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>{{ person.username }} has not written any posts yet.</strong>
    {% endif %}
    </div>
{% endwith %}
{% endwith %}
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/user-js.js"></script>
{% endblock %}
