{% extends "page.html" %}

{% load humanize %}

{% block title %}User Profile for {{ person.username }}{% endblock %}
{% block canonical_url %}{% url forum.views.user person.id %}/{% endblock %}
{% block threadbar %}
            {% include "includes/threadbar.html" %}
{% endblock %}

{% block content_body %}
    <div id="profile-interaction">
{% if person != user %}
    {#  <p><a href="#">Send PM</a></p> #}
    {% if person in user.get_profile.follows.all %}
        <p><a href="#" class="js" id="{{ person.id }}">Unfollow user</a></p>
    {% else %}
        <p><a href="#" class="js" id="{{ person.id }}">Follow user</a></p>
    {% endif %}
    {% if person in user.get_profile.ignores.all %}
        <p><a href="#" class="js" id="{{ person.id }}">Remove user from shit list</a></p>
    {% else %}
        <p><a href="#" class="js" id="{{ person.id }}">Add user to shit list</a></p>
    {% endif %}

    {# if forum.perms.ban_user #}
    {#  <p>Ban user</p> #}
    {# endif #}
    {# if forum.perms.probate_user #}
    {#   <p>Probate user</p> #}
    {# endif #}
{% else %}
{#        <p><a href="{% url forum.views.settings %}">Manage your settings</a></p>  #}
{% endif %}
    </div>

{% with post_count=person.post_set.all.count %}
{% with thread_count=person.thread_set.all.count %}
    <div id="profile-information">
        <p><span class="info">Name:</span> {{ person.username }}</p>
        <p><span class="info">Joined:</span> {{ person.date_joined|timesince }} ago</p>
        <p><span class="info">Post{{ post_count|pluralize }}:</span> <a title="View list of replies by {{ person.username }}" href="{% url user_posts person.id %}">{{ post_count|intcomma }}</a></p>
        <p><span class="info">Thread{{ thread_count|pluralize }}:</span> <a title="View list of threads by {{ person.username }}" href="{% url user_threads person.id %}">{{ thread_count|intcomma }}</a></p>
    </div>

    <div id="latest-posts">
    {% if post_count > 0 %}
        <strong>Ten latest posts:</strong>
        <ul>
        {% for post in posts %}
            <li><a href="{% url forum.views.thread post.thread.id %}#{{ post.id }}">{{ post.thread.title_html|safe }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>{{ person.username }} has not written any posts yet.</strong>
    {% endif %}
    </div>
{% endwith %}
{% endwith %}
{% endblock %}
{% block js %}
        {% include "includes/jquery.html" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/user-js.js"></script>
{% endblock %}