{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Remove {{ type|capfirst }}{% endblock %}
{% block canonical_url %}{% if type == "thread" %}{% url remove_thread obj.id %}{% else %}{% url remove_post obj.id %}{% endif %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}</a>{% if type == "post" %}&nbsp;&raquo;&nbsp;<a href="{% url forum.views.post obj.id %}">{{ obj.author }}&rsquo;s Post</a>{% endif %}
                </div>

                <form action="{% if type == "thread" %}{% url remove_thread obj.id %}{% else %}{% url remove_post obj.id %}{% endif %}" method="post" id="reply" name="reply-form">
                    {% csrf_token %}

                    <input type="submit" name="remove" value="Remove" />
                    <input type="submit" name="restore" value="Restore" />
                </form>
            </div>
{% endblock %}