    {% if email_config_error or site_config_error %}
        <div id="configuration-warning">
            {% if email_config_error %}
                {% if site_config_error %}
                    For user registration to work, please set up your <a href="http://ndarville.github.com/dotcloud-django/#after-installation-instructions/setting-up-an-e-mail-server">e-mail</a> and <a href="/admin/sites/site/1/">site</a> settings.
                {% else %}
                    For user registration to work, please set up your <a href="http://ndarville.github.com/dotcloud-django/#after-installation-instructions/setting-up-an-e-mail-server">e-mail</a> settings.
                {% endif %}
            {% else %}
                For user registration to work, please set up your <a href="/admin/sites/site/1/">site</a> settings.
            {% endif %}
        </div>
    {% endif %}