                <div id="markdown">
                    <table>
                        <tr>
                            <th>Markdown(<a class="markdown-guide" href="http://daringfireball.net/projects/markdown/basics">?</a>) code</th>
                            <th>Formatting result</th>
                        <tr>
                        <tr>
                            <td>*Strong* text</td>
                            <td><strong>Strong</strong> text</td>
                        </tr>
                        <tr>
                            <td>**Emphasized** text</td>
                            <td><em>Emphasized</em> text</td>
                        </tr>
                        <tr>
                            <td>`Code`</td>
                            <td><code>Code</code></td>
                        </tr>
                        <tr>
                            <td>&gt;Quoted text</td>
                            <td><blockquote>Quoted text</blockquote></td>
                        </tr>
                        <tr>
                            <td>
                                <p>&gt;Block quote</p>
                                <p>&gt;</p>
                                <p>&gt;On several lines</p>
                            </td>
                            <td>
                                <blockquote>
                                    <p>Block quote</p>
                                    
                                    <p>On several lines</p>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &lt;blockquote&gt;<br />
                                <p>Block quote</p>
                                
                                <p>On several lines</p>
                                &lt;/blockquote&gt;
                            </td>
                            <td>
                                <blockquote>
                                    <p>Block quote</p>
                                    <p></p>
                                    <p>On several lines</p>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&gt;Block quote</p>
                                <p>&gt;&gt;Nested quote</p>
                                <p>&gt;On several lines</p>
                            </td>
                            <td>
                                <blockquote>
                                    <p>Block quote</p>
                                    <blockquote><p>Nested quote</p></blockquote>
                                    <p>On several lines</p>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &lt;blockquote&gt;<br />
                                <p>Block quote</p>
                                &lt;blockquote&gt;<p>Nested quote</p>&lt;/blockquote&gt;
                                <p>On several lines</p>
                                &lt;/blockquote&gt;
                            </td>
                            <td>
                                <blockquote>
                                    <p>Block quote</p>
                                    <blockquote><p>Nested quote</p></blockquote>
                                    <p>On several lines</p>
                                </blockquote>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ~~~<br />
                                monospaced code<br />
                                on several lines<br />
                                ~~~
                            </td>
                            <td>
<pre>monospaced code
on several lines</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>Text&lt;sub&gt;subscript&lt;/sub&gt;</td>
                            <td>Text<sub>subscript</sub></td>
                        </tr>
                        <tr>
                            <td>Text&lt;sup&gt;superscript&lt;/sup&gt;</td>
                            <td>Text<sup>superscript</sup></td>
                        </tr>
                        <tr>
                            <td>[Link](http://example.com)</td>
                            <td><a href="http://example.com">Link</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>[Another link][linkname]</p>
                                <p>&hellip;</p>
                                <p>[linkname]: http://example.com</p>
                            </td>
                            <td><a href="http://example.com">Another link</a></td>
                        </tr>
                        <tr>
                            <td>![alt text](http://example.com/image.png)</td>
                            <td>(Imagine an image with alt text &ldquo;alt text&rdquo; here.)</a></td>
                        </tr>
                        <tr>
                            <td>
                                <p>![alt text][imgname]</p>
                                <p>&hellip;</p>
                                <p>[imgname]: http://example.com/image.png</p>
                            </td>
                            <td>(Imagine the same image and alt text.)</a></td>
                        </tr>
                        <tr>
                            <td>1. Ordered list</td>
                            <td><ol><li>Ordered list</li></ol></td>
                        </tr>
                        <tr>
                            <td>* Unordered list</td>
                            <td><ul><li>Unordered list</li></ul></td>
                        </tr>
                        <tr>
                            <td>
                                * Unorderd list with a<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;1. Nested list made with an indentation
                            </td>
                            <td>
                                <ul>
                                    <li>Unordered list</li>
                                    <ol>
                                        <li>Nested list made with an indentation</li>
                                    </ul>
                                </ul>
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <td>Footnotes</td>
                            <td>(Read <a href="http://www.freewisdom.org/projects/python-markdown/Footnotes">this</a> guide.)</td>
                        </tr>
                        -->
                        <tr>
                            <td>Tables</td>
                            <td>(Read <a href="http://www.freewisdom.org/projects/python-markdown/Tables">this</a> guide.</td>
                        </tr>
                    </table>
                </div>