<ul>
        <a class="screenreader-only" href="/">Return to home page</a>
    <!--
        http://webaim.org/techniques/css/invisiblecontent/
        <a class="screenreader-only" href="#board">Go to threads</a>
        <a class="screenreader-only" href="#content">Go to content</a>                      
    -->
{% if user.is_authenticated %}
        <li id="first"><strong><a href="{% url forum.views.user user.id %}" title="Inspect your own user profile"><span>{{ user.username }}</span></a></strong></li>
    {% if perms.report.use_report %}
        <li><a href="{% url forum.views.reports %}"><span>Reports</span></a></li>
    {% endif %}
    {#  <li><a href="{% url forum.views.settings %}" title="Change and check your settings"><span>Settings</span></a></li> #}
        <li><a href="{% url bookmarks %}" title="See your bookmarked threads"><span>Bookmarks</span></a></li>
        <li><a href="{% url forum.views.subscriptions %}" title="View your subscriptions"><span>Subscriptions</span></a></li>
    {% if user.is_staff %}
        <li><a href="/admin/"><span>Site Admin Controls</span></a></li>
    {% endif %}
        <li><a href="http://pony-forum.com/rules/"><span>Rules</span></a></li>
        <li><a href="http://pony-forum.com/guide/"><span>Guide</span></a></li>
        <li><a href="/search/"><span>Search</span></a></li>
        <li id="last"><a href="{% url forum.views.logout %}"><span>Log Out</span></a></li>
{% else %}
        <li id="first"><strong><a href="{% url twostepauth.views.login_step_one %}?next={% url forum.views.home %}"><span>Log in</span></a></strong></li>
        <li><a href="http://pony-forum.com/rules/"><span>Rules</span></a></li>
        <li><a href="http://pony-forum.com/guide/"><span>Guide</span></a></li>
    {#  <li><a href="{% url search %}"><span>Search</span></a></li> #}
        <li id="last"><a href="{% url registration.views.register %}"><span>Register</span></a></li>
{% endif %}
</ul>