{#  <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.subscriptions.all %}Unsubscribe{% else %}Subscribe{% endif %}</a></li> #}
    <li><a class="js" id="{{ thread.id }}" href="#">{% if thread in user.bookmarks.all %}Unbookmark{% else %}Bookmark{% endif %}</a></li>
{% if not thread.is_locked %}
{#  <li><a href="{% url report_thread thread.id %}">Report</a></li> #}
    <li><a href="{% url forum.views.reply thread.id %}">
    Reply</a></li>
{% else %}
    <li><a href="#">Locked</a></li>
{% endif %}