<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "includes/head.html" %}
    </head>
    <body>
        <div id="container">
{% block alert %}
    {% if messages %}
        {% for message in messages %}
            <div id="alert"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block js-blocked-warning %}{% endblock %}
            <div id="header"><a href="/" title="Return to home page">Forum</a></div>
            <div id="navigation">
                {% include "includes/navigation.html" %}
            </div>
{# banners #}{# endblock #}
{% block threadbar %}{% endblock %}
{% block content %}{% endblock %}
            <div id="credits">
{% block credits-border %}{% endblock %}
{% block credits %}
                The forum is powered by <a href="http://pony-forum.com/">Pony Forum</a>, which was made by <a href="http://me.niclasdarville.com/">Niclas Darville</a>. Icons by <a href="http://glyphish.com/">Glyphish</a>.
{% endblock %}
            </div>
        </div>
    </body>
</html>