{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}: Lock and Unlock{% endblock %}
{% block canonical_url %}{{ thread.get_absolute_url }}lock/{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="/">Overview</a>&nbsp;&raquo;&nbsp;<a href="/category/{{ thread.category.id }}/">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{{ thread.get_absolute_url }}">{{ thread.title_html|safe }}</a>
                </div>

                <form action="{{ thread.get_absolute_url }}lock/" method="post" id="reply" name="reply-form">
                    {% csrf_token %}
                    
                    <input type="submit" name="lock" value="Lock" />
                    <input type="submit" name="unlock" value="Unlock" />
                </form>
            </div>
{% endblock %}