{% extends "base.html" %}

{% block title %}{{ thread.title_html|safe }}{% if thread.is_locked %}&nbsp;(LOCKED){% endif %}{% endblock %}
{% block canonical_url %}{% url forum.views.thread thread.id %}{% endblock %}
{% block js-blocked-warning %}{% include "includes/js-blocked-warning.html" %}{% endblock %}
{% block content %}
            <div id="board">
                <div id="breadcrumbs">
                    <a href="{% url forum.views.home %}">Overview</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.category thread.category.id %}">{{ thread.category.title_html|safe }}</a>&nbsp;&raquo;&nbsp;<a href="{% url forum.views.thread thread.id %}">{{ thread.title_html|safe }}{% if thread.is_locked %}&nbsp;(LOCKED){% endif %}</a>
                </div>
        
            {% if posts.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="previous-page">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}" title="Go to the previous page of threads">Previous</a>
                    {% endif %}
                    </span>

                    <span class="current-page">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                
                    <span class="next-page">
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" title="Go to the next page of threads">Next</a>
                    {% endif %}
                    </span>
                </div>
            {% endif %}

            {% if not thread.is_removed %}
                <div id="thread-buttons-top">
                {% if not thread.is_locked %}
                    <a class="button" href="{% url forum.views.reply thread.id %}">
                    Reply</a>
                    <a class="button" href="{% url report_thread thread.id %}">Report</a>
                {% else %}
                    <a class="button" href="#">Locked</a>
                {% endif %}
                    <a class="button js" id="{{ thread.id }}" href="#">{% if thread in user.bookmarks.all %}Unbookmark{% else %}Bookmark{% endif %}</a>
                    <a class="button js" id="{{ thread.id }}" href="#">{% if thread in user.subscriptions.all %}Unsubscribe{% else %}Subscribe{% endif %}</a>
                </div>
            {% endif %}

                <div id="thread-mod-buttons-top">
            {% if thread.is_removed and perms.forum.remove_thread %}
                    <a class="button" href="{% url remove_thread thread.id %}">Restore</a>
            {% else %}
                {% if perms.forum.lock_thread %}
                    <a class="button" href="{% url forum.views.lock_thread thread.id %}">{% if thread.is_locked %}Unlock{% else %}Lock{% endif %}</a>
                {% endif %}
                {% if perms.forum.change_thread %}
                    <a class="button" href="{% url forum.views.moderate_thread thread.id %}">Moderate</a>
                {% endif %}
                {% if perms.forum.move_thread %}
                    <a class="button" href="{% url forum.views.move_thread thread.id %}">Move</a>
                {% endif %}
                {% if perms.forum.sticky_thread %}
                    <a class="button" href="{% url forum.views.sticky_thread thread.id %}">{% if thread.is_sticky %}Unsticky{% else %}Sticky{% endif %}</a>
                {% endif %}
                {% if perms.forum.merge_thread %}
                    <a class="button" href="{% url forum.views.merge_thread thread.id %}">Merge</a>
                {% endif %}
                {% if perms.forum.remove_thread %}
                    <a class="button" href="{% url remove_thread thread.id %}">Remove</a>
                {% endif %}
            {% endif %}
                <!-- appoint_threadmin -->
                </div>

            {% for post in posts.object_list %} <!-- exclude is_removed -->
                {% include "includes/entries.html" %}
            {% endfor %}

                <div id="thread-mod-buttons-bottom">
            {% if thread.is_removed and perms.forum.remove_thread %}
                    <a class="button" href="{% url remove_thread thread.id %}">Restore</a>
            {% else %}
                {% if perms.forum.lock_thread %}
                    <a class="button" href="{% url forum.views.lock_thread thread.id %}">{% if thread.is_locked %}Unlock{% else %}Lock{% endif %}</a>
                {% endif %}
                {% if perms.forum.change_thread %}
                    <a class="button" href="{% url forum.views.moderate_thread thread.id %}">Moderate</a>
                {% endif %}
                {% if perms.forum.move_thread %}
                    <a class="button" href="{% url forum.views.move_thread thread.id %}">Move</a>
                {% endif %}
                {% if perms.forum.sticky_thread %}
                    <a class="button" href="{% url forum.views.sticky_thread thread.id %}">{% if thread.is_sticky %}Unsticky{% else %}Sticky{% endif %}</a>
                {% endif %}
                {% if perms.forum.merge_thread %}
                    <a class="button" href="{% url forum.views.merge_thread thread.id %}">Merge</a>
                {% endif %}
                {% if perms.forum.remove_thread %}
                    <a class="button" href="{% url remove_thread thread.id %}">Remove</a>
                {% endif %}
            {% endif %}
                <!-- appoint_threadmin -->
                </div>

            {% if not thread.is_removed %}
                <div id="thread-buttons-bottom">
                {% if not thread.is_locked %}
                    <a class="button" href="{% url forum.views.reply thread.id %}">
                    Reply</a>
                    <a class="button" href="{% url report_thread thread.id %}">Report</a>
                {% else %}
                    <a class="button" href="#">Locked</a>
                {% endif %}
                    <a class="button js" id="{{ thread.id }}" href="#">{% if thread in user.bookmarks.all %}Unbookmark{% else %}Bookmark{% endif %}</a>
                    <a class="button js" id="{{ thread.id }}" href="#">{% if thread in user.subscriptions.all %}Unsubscribe{% else %}Subscribe{% endif %}</a>
                </div>
            {% endif %}

            {% if posts.paginator.num_pages > 1 %}
                <div class="pagination">
                    <span class="previous-page">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}" title="Go to the previous page of threads">Previous</a>
                    {% endif %}
                    </span>

                    <span class="current-page">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </span>
                
                    <span class="next-page">
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" title="Go to the next page of threads">Next</a>
                    {% endif %}
                    </span>
                </div>
            {% endif %}
            </div>
{% endblock %}
{% block js %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/thread-js.js"></script>
{% endblock %}
