{% extends "base.html" %}

{% block title %}{{ type|capfirst }} by {{ person.username }}{% endblock %}
{% block canonical_url %}/user/{{ type }}s{% endblock %}

{% block content %}
{% load markup %}
<div id="content">
    <dl>
{% if type == "thread" %}
    {% for thread in objects %}
        <dt>{{ thread.relative_date }}</dt>
            <dd><a href="{{ thread.get_absolute_url }}">{{ thread.title_html|safe }}</a></dd>
    {% endfor %}
{% else %}
    {% for post in objects %}
        <dt><a href="{{ post.thread.get_absolute_url }}">{{ post.thread.title_html|safe }}</a></dt>
            <dd>{{ post.content_html|safe }}</dd>
    {% endfor %}
{% endif %}
    <dl>
</div>
{% endblock %}
{% block credits %}
            <div id="credits">
                <hr />
                The forum is powered by <a href="http://pony-forum">Pony Forum</a> which was made by <a href="http://me.niclasdarville.com/">Niclas Darville</a>. Icons by <a href="http://glyphish.com/">Glyphish</a>.
            </div>
{% endblock %}