{% extends "page.html" %}

{% block title %}Log In{% endblock %}
{% block canonical_url %}{% url login %}{% endblock %}
{% block content_body %}
    {% if form.errors %}
        <ul class="errorlist">
        {% for field in form %}
            {% if field.errors %}
                <li>{{ field.errors }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    {% if form.non_field_errors %}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url auth_login %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input
            id="username"
            {% if form.username.errors %}class="input-error"{% endif %}
            type="text"
            name="username"
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
            {% if not form.username.errors %}autofocus{% endif %} required
        /><br />

        <label for="password">Password:</label>
        <input
            id="password"
            {% if form.password.errors %}class="input-error"{% endif %}
            type="password"
            name="password"
            required
        /><br />

        <label for="remember-password">Remember password:</label>
        <input
            type="checkbox"
            id="remember-password"
        />

        <p><a href="{% url auth_password_reset %}">I forgot my password</a> :(</p>

        <div id="button-group">
            <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}
