{% extends "page.html" %}

{% block title %}Log In{% endblock %}
{% block canonical_url %}{% url login %}{% endblock %}
{% block content_body %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %} {# Auth problem #}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url auth_login %}" method="post" id="account-form">
        {% csrf_token %}
        <label for="username">Username</label>
        <input
            id="username"
            type="text"
            x-webkit-speech
            name="username"
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
            placeholder="Username"
            {% if not form.username.errors %}autofocus{% endif %} required
        />
        <br />

        <label for="password">Password</label>
        <input
            id="password"
            type="password"
            name="password"
            placeholder="Password"
            required
        />
        <br />

        <div id="login-helpers">
            <label for="remember-password">Remember password</label>
            Remember my password <input
                type="checkbox"
                id="remember-password"
            />

            <p><a href="{% url auth_password_reset %}">I forgot my password</a> :(</p>
        </div>

        <div id="button-group">
            <input type="submit" value="Submit" />
            <input type="hidden" value="{{ next }}" name="next" />
        </div>
    </form>
{% endblock %}
