{% extends "page.html" %}

{% block title %}Change Password{% endblock %}
{% block canonical_url %}{% url auth_password_change %}{% endblock %}
{% block content_body %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %} {# Password mismatch #}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Enter your old password for authenticationn, and enter your new password&mdash;not once, but twice&mdash;to confirm your new password.</p>

    <form action="" method="post" id="account-form">
        {% csrf_token %}
            <label for="id_old_password">Old password:</label>
            <input
                type="password"
                name="old_password"
                id="id_old_password"
                placeholder="Old password"
                {% if form.old_password.errors %}class="input-error"{% endif %}
            />

            <label for="id_new_password1">New password:</label>
            <input
                type="password"
                name="new_password1"
                id="id_new_password1"
                placeholder="New password"
                {% if form.new_password.errors %}class="input-error"{% endif %}
            />

            <label for="id_new_password2">Re-enter your new password:</label>
            <input
                type="password"
                name="new_password2"
                id="id_new_password2"
                placeholder="Re-enter your new password"
                {% if form.new_password2.errors %}class="input-error"{% endif %}
            />

            <div id="button-group">
                <input type="submit" value="Change password" />
            </div>
    </form>
{% endblock %}
