{% extends "page.html" %}

{% block title %}Confirm Password Reset{% endblock %}
{% url auth_password_reset_confirm %}
{% block content_body %}
                <p>Enter your new password below:</p>
                
                <form action="" method="post">
                    {% csrf_token %}
                        {{ form.as_p }}

                        <div id="button-group">
                            <input type="submit" value="Set password" />
                        </div>
                </form>
{% endblock %}