{% extends "page.html" %}

{% block title %}Reset Password{% endblock %}
{% block canonical_url %}{% url auth_password_reset %}{% endblock %}
{% block content_body %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %} {# Password mismatch #}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <p>Enter your account e-mail in the form below, and we&rsquo;ll set your up with a new password.</p>

    <form action="" method="post" id="account-form">
        {% csrf_token %}
        <label for="id_email">Your account e-mail:</label>
        <input
            id="id_email"
            type="email"
            name="email"
            placeholder="Your account e-mail"
            autofocus
            required
        />
            {% if form.email.errors %}<span class="input-error-indicator">&larr;</span>{% endif %}
        <br />


        <div id="button-group">
            <input type="submit" value="Reset password" />
        </div>
    </form>
{% endblock %}
