{% extends "page.html" %}

{% block title %}Register Your Account{% endblock %}
{% block canonical_url %}{% url "register" %}{% endblock %}
{% block content_body %}
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ field.errors }}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.non_field_errors %} {# Password mismatch #}
        <ul class="errorlist">
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="post" id="account-form">
        {% csrf_token %}
        <label for="id_username">Username</label>
        <input
            id="id_username"
            {% if form.username.errors %}class="input-error"{% endif %}
            type="text"
            x-webkit-speech
            name="username"
            value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
            {% if max_username_length %}maxlength="{{ max_username_length }}"{% endif %}
            placeholder="Username"
            {% if not form.username.errors %}autofocus{% endif %} required
            {% if form.username.errors %}class="input-error"{% endif %}
        />

        <label for="id_email">E-mail</label>
        <input
            id="id_email"
            {% if form.email.errors %}class="input-error"{% endif %}
            type="email"
            name="email"
            value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
            placeholder="E-mail"
            required
            {% if form.email.errors %}class="input-error"{% endif %}
        />

        <label for="id_password1">Password</label>
        <input
            id="id_password1"
            {% if form.non_field_errors %}class="input-error"{% endif %}
            type="password"
            name="password1"
            placeholder="Password"
            required
            {% if form.non_field_errors %}class="input-error"{% endif %}
        />

        <label for="id_password2">Re-enter the same password</label>
        <input
            id="id_password2"
            {% if form.non_field_errors %}class="input-error"{% endif %}
            type="password"
            name="password2"
            placeholder="Re-enter the same password"
            required
            {% if form.non_field_errors %}class="input-error"{% endif %}
        />

        <div id="button-group">
            <input type="submit" value="Send activation e-mail" />
        </div>
    </form>
{% endblock %}
{% block configuration-warning %}
    {% include "includes/configuration-warning.html" %}
{% endblock %}
